:root {
    font-size: 1vw;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #110000;
    background-color: #fffefe;
}

/* .bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    z-index: -1;
    transform: scale(1.1);
} */

#links {
    background-color: #22222260;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
}

.frontpage {
    margin-top: 3rem;
    font-size: xx-large;
    display: inline-block;
}

h1 {
    font-size: 3rem;
    display: inline;
}

#buttons {
    margin-top: 2rem;
    font-size: large;
    display: inline-block;
}

a {
    font-size: 2rem;
    border: 0.25rem solid transparent;
    color: #110000;
    background: #dedddd;
    transition: background-position 1s ease, color 1s ease, transform 0.2s ease;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 4px 0 #cdcccc;
    display: inline-block;
}

a:hover {
    background-size: 200% 100%;
    background-position: 100% 50%;
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: 0 0 0 transparent;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.glow {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: pfpPulse 5s ease-in-out infinite;
}


#pfp {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    transition: transform 1s ease;
}


@keyframes pfpPulse {
    0% {
        box-shadow: 0 0 15px #ff0000;
    }

    25% {
        box-shadow: 0 0 30px #ff9900;
    }

    50% {
        box-shadow: 0 0 20px #ffff00;
    }

    75% {
        box-shadow: 0 0 35px #ff9900;
    }

    100% {
        box-shadow: 0 0 15px #ff0000;
    }
}

.pfp {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #222;
    object-fit: cover;
}


p {
    margin: 0;
    opacity: 0.9;
    max-width: 500px;
}

hr {
    border: 2px, black, solid;
    width: 12rem;
}

#Project {
    background-color: #22222260;
    border-radius: 7px;
    padding: 5px;
    margin: 7px;
    width: 20rem;
    display: inline-block;
    animation: pulse 10s ease-in-out infinite;
}

#info {
    text-decoration: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 20px #ffaaaa;
    }

    25% {
        box-shadow: 0 0 20px #ffffaa;
    }

    50% {
        box-shadow: 0 0 20px #aaffaa;
    }

    75% {
        box-shadow: 0 0 20px #aaaaff;
    }

    100% {
        box-shadow: 0 0 20px #ffaaaa;
    }
}

details {
    font-size: large;
    background-color: #22222260;
    border-radius: 7px;
    padding: 5px;
}

#a {
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: auto auto auto;
}